html{
    scroll-behavior: smooth;
    
}
body{
    background-color: white;
    display: block;

}
.box{
    width:60%;
    height: 30vh;
    background-color: white;
    margin: 30px;
    margin-left: 4%;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgb(230, 227, 227), -2px -2px 8px rgb(230, 227, 227);
    text-decoration: none;
    
}