html {
    scroll-behavior: smooth;
  }
  nav{
      position:fixed;
      z-index: 9;
      opacity: 0.7;
      background-color:rgb(119, 67, 67);
      display: flex;
      width: 100vw;
      height: 5vh;
      margin-left: -2%;

  }
  ol li{
      list-style: none;
      margin-left: 1560%;
      
  }
  ol li{
      text-decoration: none;
      margin-top: -20%;
      color: white;
      background: transparent;
      height:4.6vh;
      line-height: 1.9;
      display: block;
      width: 120%;
      text-align: center;
      border-radius: 8px;
      border: 0.01rem solid white;
  }
  ol li:hover{
      opacity: 0.5;
  }
  a{
      text-decoration: none;
  }
.landing-page{
     
    background-image: url("pics/main-mobile.jpg");
    background-position:50%;
    background-repeat: no-repeat;
    background-size: 40%;
    height: 98vh;
    filter: contrast(0%);
    filter: brightness(100%);
    -webkit-filter: blur(4);
    width: 100.6%;
    margin-top:-0.6%;
    margin-left: -0.6%;
   margin-bottom: -2%;
   position: relative;
}
.cover{
    
    background:linear-gradient(to right, rgba(44, 16, 16, 0.986), rgba(90, 17, 17, 0.644));
    height: 98vh;
    width: 101.2%;
    margin-top:-0.6%;
    margin-left: -0.6%;
   
}
.btn{
    background-color:rgb(119, 67, 67);
    width:25%;
    display: block;
    line-height: 2.4;
    font-size: 23px;
    height: 8vh;
    text-align:center;
    margin-left: 36%;
    margin-top: -13%;
    font-weight: 500;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    position:absolute;
}
.btn:hover{
    opacity: 0.5;
    transition: 1s;
    font-weight: 500;
}
.paper{
    display: flex;
    height: 60vh;
    width: 101.1%;
    background: transparent;
}
.gallery{
    height: 60vh;
    width:101.1%;
    margin-top:0%;
    margin-left: -0.6%;
    background:rgba(0,0,0,0.7) url("pics/d2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    opacity:;
}
.box{
    height:45vh;
    width:20%;
    background-color: rgb(238, 216, 195);
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
    border-radius: 5px;
    cursor: pointer;
    
    box-shadow: 2px 2px 2px rgba(230, 230, 230, 0), -1px -1px 0px rgba(230, 230, 230, 0);
}
.btn2{
    background-color:rgb(119, 67, 67);
    width:15%;
    display: block;
    line-height: 2.5;
    font-size: 17px;
    height: 6vh;
    text-align:center;
    margin-left: 2.6%;
    margin-top: 17%;
    font-weight: 500;
    color: white;
    text-decoration: none;
    cursor: pointer;
    opacity:;
    border-radius: 10px;
    position: absolute;
}

.btn3{
    background-color:rgb(119, 67, 67);
    width:15%;
    display: block;
    line-height: 2.5;
    font-size: 17px;
    height: 6vh;
    text-align:center;
    margin-left: 2.6%;
    margin-top: 17%;
    font-weight: 500;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    opacity:;
    position: absolute;
}

.btn4{
    background-color:rgb(119, 67, 67);
    width:15%;
    display: block;
    line-height: 2.5;
    font-size: 17px;
    height: 6vh;
    text-align:center;
    margin-left: 2.6%;
    margin-top: 17%;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    opacity:;
    position: absolute;
}

.btn5{
    background-color:rgb(119, 67, 67);
    width:15%;
    display: block;
    line-height: 2.5;
    font-size: 17px;
    height: 6vh;
    text-align:center;
    margin-left: 2.6%;
    margin-top: 17%;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    cursor: pointer;
    opacity:;
    position: absolute;
}
.btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover{
    opacity: 0.5;
    transition: 1s;
    font-weight: 500;
}
#view1{
    background-image: url("pics/m.jpg");
    background-position: initial;
    background-size: contain;
    background-repeat: no-repeat;

}
#view2{
    background-image: url("pics/b.jpg");
    background-position: initial;
    background-size: contain;
    background-repeat: no-repeat;
    
    
} 
#view3{
    background-image: url("pics/n.jpg");
    background-position: initial;
    background-size: contain;
    background-repeat: no-repeat;
    
    
} 
#view4{
    background-image: url("pics/img6.jpg");
    background-position: initial;
    background-size: contain;
    background-repeat: no-repeat;
    
    
} 



footer {
    text-align: center;
    background-color:rgb(95, 54, 54);
    padding: 70px 0px;
    margin-left: -2%;
    margin-right: -0.6%;
  }
  
  footer .primary-button {
    margin-bottom: 30px;
  }
  footer .btn{
      margin-top: -5%;
      margin-left: 38%;
      background-color:rgba(241, 141, 141, 0.473);
  }
  footer ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
  
  footer ul li {
    display: inline-block;
    margin: 0px 4px;
    margin-top: 2%;
  }
  
  footer ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    background-color: whitesmoke;
    color: rgb(119, 67, 67);
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 17px;
  }
  
  footer ul li a:hover {
    color: rgb(212, 80, 19);
    background-color: white;
    opacity: 0.6;
  }
  
  footer ul li a:active {
    color: green;
    background-color: white;
  }
  
  footer p {
    font-size: 15px;
    margin-top: 40px;
    color: #fff;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
  }
  
  footer em {
    color: green;
    font-weight: 600;
    font-style: normal;
  }
#btn{
    margin-top: 1%;
    margin-left: 45%;
    width: 10%;
    border-radius: 10px;
    color:rgb(119, 67, 67);
    background: white;
    opacity: 0.5;
}
.link{
    color:lightsalmon;
    text-decoration: none;
    font-weight: bolder;
}
@media(max-width:767px){
    html,body
    {
      
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        scroll-behavior: smooth;
        
    }
    .landing-page{
        height: 100vh;
        width: 104%;
        margin-left: -1.9%;
       margin-top: -3%;
     margin-right: -2%;
     overflow: hidden; 
    background-position: center;
    background-size: cover;
    position: relative;    
    }
    ol li{
        margin-left:20%;
        font-size: 12px;
        margin-top: -28%;
        line-height: 2.3;
    }
    .btn{
        margin-top: -35%;
        margin-left: 5%;
        display: block;
        width: 90%;
        line-height: 2.2;
        opacity:0.9;
        border-radius: 30px;
    }
    nav{
        width: 102vw;
    }
    .gallery{
        height: 160vh;
        width:105%;
        margin-left: -2.6%;
        background-attachment: fixed;
        display: block;
        margin-top: 3%;
        position: relative;
    }
    
    .box{
        width: 70%;
        margin-left: 11.6%;
        margin-top: 20%;
        border-radius: 10px;
        height:38vh;
    }
    .paper{
        height: 100vh;
        width: 105%;
        background: transparent;
        display: block;
        margin-top: -6%;
        position: absolute;
    }
    .btn2{
        width: 68%;
        line-height: 2.3;
        border-radius: 10px;
        display: block;
        margin-top: 52%;
        margin-left: 0.9%;

    }
    
    .btn3{
        width: 68%;
        line-height: 2.3;
        border-radius: 10px;
        display: block;
        margin-top: 52%;
        margin-left: 0.9%;

    }
    
    .btn4{
        width: 68%;
        line-height: 2.3;
        border-radius: 10px;
        display: block;
        margin-top: 52%;
        margin-left: 0.9%;

    }
    .btn5{
        width: 68%;
        line-height: 2.3;
        border-radius: 10px;
        display: block;
        margin-top: 52%;
        margin-left: 0.9%;

    }
footer{
    width:105%;
    margin-left: -2.5%;
}
footer .btn{
    margin-left: 8%;
    margin-top: -19%;
    line-height: 2.2;
}
.footer-text{
    font-size: 15px;
}
}